@media (max-width: 500px) {
    .fc .fc-toolbar.fc-header-toolbar {
      flex-direction: column !important;
  }
  }

 tbody tr{
  height: 40px;
 } 

 .calendar-wrapper {
  min-height: 400px;
  min-width: 30vw !important;
}

@media (max-width: 424px) {
  .calendar-wrapper {
    min-width: 80vw !important;
  }
}